@font-face {
  font-family: "PP Writer, Book";
  src: url("../font/PPWriter-Book-BF6445d4ec72b68.otf") format("truetype");
}
@font-face {
  font-family: "PP Pangram Sans, Light";
  src: url("../font/PPPangramSans-Light.otf") format("truetype");
}

/* ==================================
=========================== reset css
================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #ffffff;
  background: #6fc05b;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--primary-color);
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: unset;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: unset;
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.object-fit--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.user-select-none {
  pointer-events: none;
}

.list-inline {
  font-size: 0;
}

.list-inline-item {
  font-size: 1rem;
}

/* ==================================
========================== common css
================================== */

:root {
  --primary-font: "PP Writer, Book";
  --secondary-font: "PP Pangram Sans, Light";
  --primary-color: #f5f5eb;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================
== top menu and fade in animation css
================================== */

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  transition: all linear 0.4s;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* ==================================
=========================== banner css
================================== */

.banner {
  background-image: url(../images/banner/banner-3.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.banner .overlay {
  background-color: rgba(0, 0, 0, 0.345);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.banner .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  transition: all linear 0.4s;
}
.banner .main .logo {
  width: 11%;
  position: absolute;
  top: 140px;
  z-index: 1100;
}

.scrolled {
  position: absolute;
  top: 0;
  z-index: 9999;
  transition: all linear 0.4s;
}

.banner .main h2 {
  color: white;
  padding-top: 100px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 55px;
}

/* ==================================
=========================== about css
================================== */

.about {
  background-color: #f5f5eb;
  padding: 165px 0;
}
.about h5 {
  font-family: var(--secondary-font);
  font-size: 25px;
  letter-spacing: 3.5px;
  position: relative;
  padding-bottom: 100px;
}

.about h5::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
.about p {
  color: #1a1b1a;
  font-family: var(--primary-font);
  font-size: 32px;
}

.about .about_img {
  display: flex;
  gap: 300px;
  margin-top: 70px;
}
.about .about_img img {
  width: 100%;
}
.about .about_img span {
  padding-top: 35px;
  font-family: var(--primary-font);
  text-align: right;
  display: block;
  font-size: 13px;
}

/* ==================================
========================= service css
================================== */

.service {
  background-color: #f5f5eb;
  padding-bottom: 100px;
}
.service h5 {
  font-family: var(--secondary-font);
  font-size: 25px;
  letter-spacing: 3.5px;
  position: relative;
  padding-bottom: 100px;
}
.service h5::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
.service p {
  color: #1a1b1a;
  font-family: var(--primary-font);
  font-size: 32px;
}
.service .service_card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin: 60px 0 0 0;
  padding: 35px;
}
.service .service_card .title h3 {
  font-size: 32px;
  font-family: var(--primary-font);
}
.service .service_card .description p {
  text-align: center;
  font-size: 18px;
  font-family: var(--secondary-font);
  letter-spacing: 1.2px;
}

/* ==================================
======== PROJECT section css
================================== */

.project {
  background-color: #f5f5eb;
  padding: 100px;
}
.project h5 {
  font-family: var(--secondary-font);
  font-size: 25px;
  letter-spacing: 3.5px;
  position: relative;
  padding-bottom: 100px;
}
.project h5::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
.project .project_content_section {
  padding: 20px 0;
}
.project .project_content_section p a {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.project .project_content_section p a span {
  font-size: 32px;
  font-family: var(--primary-font);
}

.project .project_content_section p a::after {
  content: "";
  position: absolute;
  top: 78px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: black;
}
.project .project_content_section .collapse p {
  font-family: var(--primary-font);
  color: #1a1b1a;
}
.card-body {
  padding: 0;
  color: var(--bs-card-color);
  background: none;
  margin-top: 50px;
  border: none;
}

.project .project_content_section .card_images {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-top: 50px;
}
.project .project_content_section .caption {
  padding: 40px 0;
}
.project .project_content_section h6 {
  font-size: 13px;
  font-family: var(--secondary-font);
}

/* ==================================
========================== founder css
================================== */

.founder {
  background-color: #f5f5eb;
  padding: 100px;
}
.founder h5 {
  font-family: var(--secondary-font);
  font-size: 25px;
  letter-spacing: 3.5px;
  position: relative;
  padding-bottom: 100px;
}
.founder h5::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}
.founder .founder_content p {
  font-family: var(--secondary-font);
  font-size: 21px;
}

/* ==================================
========================== footer css
================================== */

.footer {
  background-color: #c8d2a9;
  padding: 90px 0;
}

.footer .main {
  display: flex;
  gap: 50px;
  position: relative;
}

.footer .main::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}

.footer .main .logo {
  width: 15%;
}
.footer .main .logo img {
  width: 50%;
}

.footer .main .middle p {
  font-size: 27px;
  font-family: var(--primary-font);
}

.footer .main .info ul li {
  font-size: 25px;
  font-family: var(--primary-font);
}
.footer #copyright {
  text-align: center;
  padding-top: 100px;
  font-family: var(--secondary-font);
  font-size: 18px;
}

/* ==================================
======================= responsive css
================================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) {
  .banner .main {
    padding: 0px;
  }

  .banner .main h2 {
    font-size: 17px;
  }

  .about .about_img {
    display: flex;
    gap: 30px;
    margin-top: 100px;
    flex-direction: column;
  }
  .about p {
    font-size: 22px;
  }
  .about {
    padding: 70px 20px;
  }
  .service {
    padding: 50px 20px;
  }
  .service .service_card {
    margin: 40px 0 0 0;
  }

  .service p {
    font-size: 22px;
  }

  .service .service_card .title h3 {
    font-size: 20px;
  }

  .service .service_card .description p {
    font-size: 17px;
  }

  .project {
    padding: 40px;
  }
  .project .project_content_section p a span {
    font-size: 17px;
  }

  .project .project_content_section p a::after {
    top: 55px;
  }

  .project .project_content_section h6 {
    font-size: 12px;
  }

  .founder {
    padding: 40px;
  }

  .founder .founder_content p {
    padding-top: 30px;
  }

  .footer {
    padding: 40px;
  }

  .footer .main .middle p {
    font-size: 17px;
  }

  .footer .main .info ul li {
    font-size: 17px;
  }

  .footer .main .logo {
    width: 40%;
  }

  .footer .main .logo img {
    width: 100%;
  }

  .footer .main {
    gap: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .banner .main h2 {
    font-size: 25px;
  }
  .banner .main {
    padding: 0;
  }
  .about {
    padding: 92px 0;
  }
  .project {
    padding: 40px;
  }
  .project .project_content_section p a::after {
    top: 50px;
  }
  .project .project_content_section h6 {
    font-size: 12px;
  }
  .founder {
    padding: 40px;
  }
  .founder .founder_content p {
    margin-top: 30px;
  }
  .footer .main .logo img {
    width: 100%;
  }
  .about p {
    font-size: 25px;
  }
  .about .about_img {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-direction: column;
  }
  .service p {
    font-size: 25px;
  }

  .service .service_card {
    margin: 20px 0 0 0;
    padding: 30px;
  }

  .service .service_card .title h3 {
    font-size: 28px;
  }

  .project .project_content_section p a span {
    font-size: 17px;
  }
  .footer .main .middle p {
    font-size: 17px;
  }
  .footer .main .info ul li {
    font-size: 17px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner .main h2 {
    font-size: 21px;
  }

  .about {
    padding: 95px 0;
  }
  .about .about_img {
    gap: 120px;
  }
  .about p {
    font-size: 30px;
  }
  .service .service_card {
    margin: 30px 0 0 0;
  }
  .project {
    padding: 75px;
  }
  .project .project_content_section p a span {
    font-size: 29px;
  }
  .project .project_content_section p a::after {
    top: 75px;
  }

  .service p {
    font-size: 30px;
  }
  .founder {
    padding: 75px;
  }
  .founder .about_img img {
    width: 100%;
  }
  .founder .founder_content p {
    margin-top: 30px;
  }
  .footer .main .info ul li {
    font-size: 25px;
  }
  .footer .main .middle p {
    font-size: 25px;
  }
  .footer .main .logo img {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner .main h2 {
    font-size: 30px;
  }
  .service .service_card {
    padding: 8px;
  }
  .service .service_card .description p {
    font-size: 16px;
  }
  .service .service_card .title h3 {
    font-size: 30px;
  }
  .founder .founder_content p {
    margin-top: 0px;
  }
  .founder .founder_content p {
    margin-top: 0px;
    font-size: 18px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles for extra-extra-large devices go here */
}
